body {
    margin: 0;
    padding: 0;
}

.main {
    margin: 15;
    padding: 15;
}



.dates {
    margin-left: 50%;
    margin-right: 50% ;


}


.past {
    color: rgba(104, 101, 101, 0.61);
    margin-bottom: 5px;
    /* border: 1px solid blue; */
    width: 200px;
    max-height: 250px;
    height: auto;
    overflow-y: scroll;
}

.current {
    /* border: 1px solid green; */
    width: 200px;  
}

.future {
    color: rgba(104, 101, 101, 0.61);
    margin-top: 5px;
    /* border: 1px solid red; */
    width: 200px;
    max-height: 250px;
    overflow-y: scroll;
    scrollbar-width: 2000px;
}